[build-system]
requires = ["setuptools>=61.0.0"]
build-backend = "setuptools.build_meta"

[project]
name = "palma"
version = "2023.2.1"
description = ""
authors = [{ name = 'Vincent Laurent', email = 'vlaurent@eurobios.com' }]
readme = "README.md"

requires-python = '>=3.9'
dependencies = [
    'seaborn>0.12.0',
    "tabulate >0.8.10",
    "frozendict >2.3.4",
    "FLAML >= 2",
    "memory-profiler > 0.60.0",
    "matplotlib >= 3.4",
    "numpy >= 1",
    "scikit-learn >= 1",
    "pandas >= 1",
    "shap",
    "llvmlite >= 0.39",
    "xgboost >2",
    "pyaml >12",
]

[tool.setuptools.packages.find]
include = ["palma"]

[tool.poetry.dev-dependencies]
pytest = "^7.1.3"
pytest-cov = "^3.0.0"
pre-commit = "^2"
coverage = "^6.4"
PyQt5 = "*"
pylint = "*"


[project.optional-dependencies]
components = ["deepchecks", "pandas-profiling", "plot-metric", "mlflow", "boto3", "explainerdashboard"]
